<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail">
                <h3>Have a project in mind?</h3>
                <p>Drop a mail and we can catch up for a lovely cofee.</p>
                </div>
                <div class="detail">
                    <h3>Email</h3>
                    <p>apoorvakabadige108@gmail.com</p>
                    </div>
            </div>
            <div class="col-md-3 offset-md-3">
                <div class="detail">
                <h3>Social</h3>
                <p>Connect with me on</p>
                <a href='https://www.linkedin.com/in/apoorva-k-b6255a167/'><span><img src="assets/images/Linkedin.png"/></span>Linkedin</a>
                </div>
               
            </div>
        </div>
    </div>
</section>