.about {
    h2{
        margin-top: 80px;
    }
    h3{
        font-size: 20px;
        line-height: 40px;
        margin-top: 40px;

    }
    .img-container{
        text-align: right;
        img{
            display: inline-block;
            width: 500px;
        }
    }
    
}