<section class="about p-80" id='about'>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">About me</h2>
                <h3 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">Hi, I am Apoorva, creative/ UX designer based out of hyderabad. With a passion for well crafted and simpler experience, I believe in simplicity to convey ideas across to users</h3>
                <h3 class="ml-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">My goal is to connect people with brands & businesses through design. A combination of strong concepts and refined execution to deliver premium results. Basically I like creating cool stuffs.</h3>

            </div>
            <div class="col-md-5 offset-md-2">
                <div class="img-container">
                <img src="assets/images/about.png">
            </div>

            </div>
        </div>
        <div class="col-md-5 offset-md-2">

        </div>
    </div>
</section>
