.about {
    h2{
        margin-top: 30px;
    }
    h3{
        font-size: 20px;
        line-height: 40px;
        margin-top: 40px;

    }
    .img-container{
        text-align: right;
        img{
            display: inline-block;
            width: 500px;
        }
    }
    .button-section{
        .butn{
            svg{
                margin-top: -80px;
                width: 170px;
                margin-left: -20px;
            }
            }
         
            
           
        }
    @media only screen and (max-width:991px) {
        h2{
            margin-top: 0px;
        }
        h3{
            font-size: 18px;
            line-height: 30px;
        }
        .img-container{
            img{
                display: inline-block;
                width: 100%;
            }
        }    
    }
    
}