@import '../../assets/scss/variables';
.banner{
    background-image: url('../../assets/images/banner/bg.jpg');
    background-size: cover;
    background-position:center 1px; 
    height: 100vh;
    .container{
        position: relative;
        z-index: 99;
    }
    h3{
        line-height: 40px;
        width: 400px;
        font-size: 30px;
        width: 100%;
        text-align: center;
        &.heading{
            font-size: 48px;
            margin-bottom: 20px;
            width: 100%;
            margin-top: 80px;
            .brand-name{
                font-weight: 700;
            }
        }
    }
    h4{
        margin-top: 0px;
    }
    .content{
        position: relative;
        padding: 26px 0px;
        z-index: 9;
        color: $para-color ;
        height: 100vh;
        img{
            width: 150px;
            float: left;
        }
        .right-nav{
            float: right;
            z-index: 9999;
            position: relative;
            margin-top: -3px;
            img{
                width: 15px;
                margin-top: -7px;
                margin-right: 10px;
                animation: shake 2s cubic-bezier(0.645, 0.045, 0.355, 1) both;

            }
           a{
               font-size: 18px;
               font-weight: 300;
               cursor: pointer;
               vertical-align: middle;
                margin-top: -4px;;
              
           }
           :hover{
               img{
                animation: shake 2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
                animation-iteration-count:infinite;

               }
            }
        }
        
        .tagline{
            margin-top: -30px;
        }
        @media only screen and (max-width:600px) {
            padding-top: 25px;
            h3{
                font-size: 18px;
                width: auto;
                &.heading{
                    font-size: 24px;
                    margin-top: 50px;
                    margin-bottom: 10px !important;
                }   
            }
            img{
                width: 100px;
            }
            .right-nav{
                a{
                    font-size: 14px;
                }
            }
            .tagline{
                margin-top: -60px;
                font-size: 14px;
            }
        }
    
    }

    .button-section{
        margin-top: 40px;
        text-align: center;
        .butn{
            width: 200px;
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            svg{
                margin-top: -120px;
                width: 190px;
            }
         
            }
            &:hover{
            
                path{
                    animation: dash 1s linear forwards;
                }
      
            }
            &:last-child{
                .btn-classic{
                    width: 220px;
                }
            }
        }
        @media only screen and (max-width:600px) {
            .butn{
                width: 150px;
                .btn-classic{
                    width: 180px !important;
                    p{
                        font-size: 14px !important;
                    }      
                    .browser-content{
                        &.scroll{
                            img{
                                &.browser-content{
                                    animation: scrollup 2.2s cubic-bezier(0.645, 0.045, 0.355, 1) both infinite;
                                }
                            }
                        }
                        .browser-window{
                            width: 30px !important;
                            img{
                                width: 24px !important;
                            }
                        }
                    }  
                }
                &:hover{
                    .btn-classic{
                        // transform: scale(1.03);
                        width: 180px;
                        background: rgba(255, 255, 255,0.15);
                        border-color:transparent;
                    }
                    .side-sec{
                        &.right-side{
                            width: calc(100% - 50px) !important;
                        }
                        &.left-side{
                            width: 50px;
                            .browser-content{
                                top: 0px;        
                                transform: scale(1);       
                                &.scroll{
                                    left: 0px;
                                }
                                &.click{
                                    left: 0px;
                                }  
                            }
                        }
                    }
            }
        }
    }

 
    .img-position-cont{
     position: absolute; 
    //  left: 0px;  
    height: 100vh;    
     top: 0px;
     width: 58%;
     z-index: 99;
     right: 0px;
     .img-cont{
        position: relative;
        height: 100vh;
        img{
            width: 100%;
            position: absolute;
            bottom:0px;
            left: 0px;
          
        }
    }
    @media only screen and (max-width:600px) {
            display: none;

            .img-cont{
                // display: none;
            }
        }
    }

}



@keyframes dash {
    to {
      stroke-dashoffset: 200;
    }
  }