.works{
    color:#fff;
    h1{
        margin-bottom: 80px;
        font-size: 30px;
    }
    p{
        font-size: 16px;
       color: #ffffff;
    }
    h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
 
    img{
        display: inline-block;
        width: 100%;
    }
    .highlight{
        color: #25D96D;
    }
    .dashboard-img{
        margin-top: 50px;
    }
    .work1{
        background: rgba(0, 223, 192, 0.38);
        color: #000;
        p{
            color: rgba(0,0,0,0.8);
        }
       
    }
    .work2{
        background:  rgba(51, 128, 195, 0.75);
        .img-container{
            &.landing{
                padding-top:80px
            }
        }
    }
    .work3{
        background: #FFA624;
        color: #000;
        p{
            color: rgba(0,0,0,0.6);
        }
    }
    
}