<section class="work p-40" id='works'>
    <div class="container">
        <h2>My Recent works</h2>
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/images/works/Frame 1 (2).png">
            </div>
            <div class="col-md-5 offset-md-2">
                <h3>splibit.io Landing</h3>
                <h3 class="ml-30">My goal is to connect people with brands & businesses through design. A combination of strong concepts and refined execution to deliver premium results. Basically I like creating cool sh*t.</h3>
            </div>
        </div>
    </div>
</section>
