<section class="works" id='works'>
    <div class="work1 p-80">
    <div class="container">
        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">My Works</h1>
        <div class="row">
           
            <div class="col-md-6">
                <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">splitbit<span class="highlight">.</span>io</h2>
                <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">splitbit.io is a web development company based of hyderabad. Design adds value faster than it adds cost. Being a designer it’s my pleasure to make company gets value rather than cost by using attractive abstract designing.Every comapny grows with an even better story with an every great design.  
                </p>
                <a href="https://splitbit.io" target="_blank" class="btn btn-custom">Visit Site</a>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="img-container">
                    <img src="assets/images/works/sb.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="work2 p-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-container dashboard-img">
                        <img src="assets/images/works/ws.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s">
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">Startup Marketplace</h2>
                    <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">Its a platform to connect startups with corporate clients.Communication starts with showing up and letting ourselves be seen.Ultimately, pursuing opportunities to connect with industry leaders or professionals with varying interests and perspectives is critical to your own career growth. At the end of the day something which motivates to represnt yourself is design. I am really greatfull to get opportunity to design this website. 

                    </p>
                </div>
               
               
             
                
            </div>
           
            </div>
        </div>
        <div class="work3 p-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">E-Kada</h2>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">E-Kada is an online grocery platform for rural areas. We have food deserts in our cities but in rural areas people don’t have grocery stores to get fresh groceries. So we have to figure out a way of getting supermarkets and online delivery into the inner city. You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic. The best way to achieve this is to attract people and attraction starts from delightfull design which designer brings out.
                        </p>
                    </div>
                    <div class="col-md-4 offset-md-2">
                        <div class="img-container">
                            <img src="assets/images/works/ecart.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">
                        </div>
                    </div>
                   
                </div>
                </div>
            </div>
</section>