.works{
    color:#333;
    h1{
        margin-bottom: 80px;
        font-size: 30px;
    }
    p{
        font-size: 18px;
       color: #333;
       line-height: 30px;
    }
    h2{
        font-size: 24px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
 
    img{
        display: inline-block;
        width: 100%;
    }
    .highlight{
        color: #25D96D;
    }
    .dashboard-img{
        margin-top: 50px;
    }
    h2{
        display: inline-block;
        padding:0px 0px;
    }
    .work1{
        background: rgba(36, 217, 109, 0.5);
        .btn-custom{
            margin-top: 20px;
            background: #0F0A2A;
            color: #fff;
            padding: 5px 50px;
            border-radius: 50px;
            transition: 0.2s all;
            &:hover{
                opacity: 0.8;
            }
        }
        
    }
    .work2{
        background-color: rgba(51, 128, 195, 0.75);
        color: #fafafa;
        p{
            color: #fafafa;
        }
        h2{
            margin-top: 30px;
        }
    }
    .work3{
        background: #FFA624;
        h2{
            background: #FFA624;
        }
        img{
            width: 220px;
        }
    }
    @media only screen and (max-width:600px) {
        .img-container{
            margin-bottom: 40px;
        }
        .work3{
            img{
                display: table;
                margin: 0 auto;
            }
        }
    }
}