<section class="works" id='works'>
    <div class="work1 p-80">
    <div class="container">
        <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">My Works</h1>
        <div class="row">
            <div class="col-md-8 ">
                <div class="img-container">
                    <img src="assets/images/works/sb.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">splitbit<span class="highlight">.</span>io</h2>
                <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">splitbit.io is a web development company based of hyderabad. I was responsble for designing their website. <br/>I used one page layout design for this as it was apt considering the requirements. 
                </p>
            </div>
        </div>
        </div>
    </div>
    <div class="work2 p-80">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">Startup Marketplace</h2>
                    <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">Its a platform to connect startups with corporate clients. I designed the dashboard and the landing page for the platform.

                    </p>
                    <div class="img-container landing">
                        <img src="assets/images/works/freelance2.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-container dashboard-img">
                        <img src="assets/images/works/freelance.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s">
                    </div>
                </div>
                
            </div>
           
            </div>
        </div>
        <div class="work3 p-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">E-Kada</h2>
                        <p class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">E-Kada is an online grocery platform for rural areas.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="img-container">
                            <img src="assets/images/works/ecart.png" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">
                        </div>
                    </div>
                   
                </div>
                </div>
            </div>
</section>