.works{
    color:#fff;
    h1{
        margin-bottom: 80px;
        font-size: 30px;
    }
    p{
        font-size: 16px;
       color: #ffffff;
    }
    h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
 
    img{
        display: inline-block;
        width: 100%;
    }
    .highlight{
        color: #25D96D;
    }
    .dashboard-img{
        margin-top: 50px;
    }
    .work1{
        background: #8ae09e;
       
    }
    .work2{
        background: #5aa1e8;
    }
    .work3{
        color: #000;
        p{
            color: rgba(0,0,0,0.8);
        }
    }
    
}